  <h1 class="h5">
      <%= current_user.parent_name %>さんの成績
  </h1>
 
  <!-- ↓タブメニュー -->
    <%= render 'tabs' %>
  <!-- ↑タブメニュー -->
    <!--div>
      <ul class="nav justify-content-center">
        <li class="nav-item"><a class="nav-link active" href="#">表で見る</a></li>
        <li class="nav-item"><a class="nav-link" href="#">グラフで見る</a></li>
      </ul>
    </div-->
    
    <div id="total">
      <%= render 'tests/tests',tests: @tests %>
      <%= paginate @tests %>
    </div>

    
    <!-- テストを追加-->
    <%= link_to '新規テスト登録', 'tests/new', class: 'btn btn-warning' %>