    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">実施日</th>
          <th scope="col">国語</th>
          <th scope="col">算数</th>
          <th scope="col">理科</th>
          <th scope="col">社会</th>
          <th scope="col">平均点</th>
        </tr>
      </thead>
      
      <% tests.each do |test| %>
      <tbody>
        <tr>
          <td><%= link_to "#{test.year_month.strftime("%y年%m月")}" + "#{test.week}週", test %></td>

          <% if test.japanese_score <= current_user.failing_score %>
              <td class="table-danger"><%= test.japanese_score %></td>
            <% elsif test.japanese_score >= current_user.passing_score %>
              <td class="table-success"><%= test.japanese_score %></td>
            <% else %>
              <td><%= test.japanese_score %></td>
          <% end %>
          
          <% if test.math_score <= current_user.failing_score %>
              <td class="table-danger"><%= test.math_score %></td>
            <% elsif test.math_score >= current_user.passing_score %>
              <td class="table-success"><%= test.math_score %></td>
            <% else %>
              <td><%= test.math_score %></td>
          <% end %>
          
           <% if test.science_score <= current_user.failing_score %>
              <td class="table-danger"><%= test.science_score %></td>
            <% elsif test.science_score >= current_user.passing_score %>
              <td class="table-success"><%= test.science_score %></td>
            <% else %>
              <td><%= test.science_score %></td>
          <% end %>
          
          <% if test.social_score <= current_user.failing_score %>
              <td class="table-danger"><%= test.social_score %></td>
            <% elsif test.social_score >= current_user.passing_score %>
              <td class="table-success"><%= test.social_score %></td>
            <% else %>
              <td><%= test.social_score %></td>
          <% end %>
          
          <td><%= (test.japanese_score + test.math_score + test.science_score + test.social_score)/4 %></td>
        </tr>
      </tbody>
      <% end %>
      
    </table>
